.arrow-button {
	position: relative;
	height: 2rem;
	width: 2.5rem;
	font-size: 1.3rem;
	vertical-align: middle;
	text-align: center;
	line-height: 0;
	background-image: linear-gradient(#fff, #eee);
	border-radius: 1rem;
	cursor: pointer;
	outline: 0;
	border: 1px solid black;
	box-shadow: 0 2px 1px #ccc, 0 0.15rem #ccc;
}
