.bottom-panel-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.canvas-container {
	position: relative;
}

.switch-graph-view-btn {
	position: absolute;
	top: 1rem;
	right: 1rem;
}
