:root {
	--canvas-hour-width: 90;
	--container-width: 560;
	--base-time: 100;

	--offset: calc(calc(var(--canvas-hour-width) * 12) / var(--container-width));

	--slide-time-seconds: calc(var(--base-time) * 1s);
	--first-timeline-delay: calc(var(--base-time) * -0.5s);
	--second-timeline-delay: calc(var(--base-time) * -1s);
}

@keyframes slide {
	0% {
		left: 0px;
	}
	50% {
		left: calc(var(--canvas-hour-width) * -24px);
	}
	50.001% {
		left: calc(var(--canvas-hour-width) * 24px);
	}
	100% {
		left: 0px;
	}
}

.canvas-container {
	position: relative;
	overflow: hidden;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	width: calc(var(--container-width) * 1px);
}

.canvas-timeline {
	position: absolute;
	animation: slide var(--slide-time-seconds) linear var(--first-timeline-delay) infinite forwards;
	left: 0px;
}

.canvas-timeline-2 {
	position: absolute;
	padding-left: calc(var(--container-width) * -1px);
	left: calc(var(--container-width) * 1px);
	animation: slide var(--slide-time-seconds) linear var(--second-timeline-delay) infinite forwards;
}
