.color-theme-title {
	margin: 1rem;
}

.color-select {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
}

.color-test-box {
	display: grid;
	grid-template-columns: 4rem;
	grid-template-rows: repeat(4, 1rem);
	border: 1px solid black;
	margin: 2rem;
}

.color-test-box > *:nth-child(1) {
	background-color: var(--user-color-light);
}
.color-test-box > *:nth-child(2) {
	background-color: var(--user-color-mid);
}
.color-test-box > *:nth-child(3) {
	background-color: var(--user-color-dark);
}
.color-test-box > *:nth-child(4) {
	background-color: var(--user-color-darker);
}

.hsl-slider-container {
	display: grid;
	grid-template-columns: auto 15rem;
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 1rem;
	margin: 2rem;
}

.hsl-slider > span {
	text-align: left;
}
