.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

.date-nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: center;
  padding: 0 10px;
  z-index: 10;
}

.date-nav-arrow-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
