.daytimeline-text {
	position: absolute;
	text-align: center;
	vertical-align: middle;
	padding: 0 5px;
}

.daytimeline {
	height: 9rem;
	overflow-x: auto;
	margin: 1.2rem 0;
}

.daytimeline-scrollbar {
	display: flex;
	white-space: nowrap;
	width: auto;
	max-width: 100%;
	overflow-x: auto;
	position: relative;
	flex-direction: row;
}
