.elements-timeline-text {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  padding: 2px 5px;
}

.elements-timeline {
  height: 9rem;
  overflow-x: auto;
  margin: 2rem 0;
}

.elements-timeline-scrollbar {
  display: flex;
  white-space: nowrap;
  width: auto;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  flex-direction: row;
}
