.screen-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content-box {
	width: fit-content;
	height: fit-content;
	border: 1px solid black;
	display: flex;
	align-items: center;
	border-radius: 1rem;
	flex-direction: column;
	padding: 2rem;
}

.header {
	padding: 1rem;
}

.footer {
	width: 50%;
	padding: 2rem;
	display: flex;
	justify-content: space-around;
}
