.graph-option-label {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 1rem;
}

.graph-option-container > * {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 4rem;
}

.graph-display-select-label {
	display: flex;
	width: auto;
	justify-content: center;
	flex-direction: column;
	padding: 1rem;
}

.graph-period-select {
	width: 8rem;
}

.graph-selection-dropdown {
	width: 7rem;
}
