.keyboard-container {
	display: flex;
	flex-direction: row;
	padding: 1rem;
}

.keyboard-key {
	top: 0px;
	position: relative;
	padding: 1rem;
	background-color: #fafafa;
	border-radius: 2px;
	box-shadow: 0 3px 0 white, 0 3px 0 3px #ccc, -3px 4px 0 1px #888, 3px 4px 0 1px #888, 0 6px 0 1px #888,
		-2px 5px 0 1.5px #888, 2px 5px 0 1.5px #888;
	user-select: none;
	cursor: pointer;
	transition: top 0.4s ease-out;
}

.keyboard-key:hover {
	top: -8px;
}

.keyboard-key:active {
	transition: top 0.1s ease-out;
	top: 8px;
}

.keyboard-add-sign {
	padding: 1rem;
}

.keyboard-swirl {
	animation: swirl 2.5s 1 forwards cubic-bezier(.32, 1.15, .88, .91);
}

@keyframes swirl {
	0% {
		transform: rotate3d(0, 0, 0, 45deg) scale(1);
	}
	100% {
		transform: rotate3d(2, -1, -1, -0.2turn) scale(0);
	}
}
