.loading-screen {
	font-size: 2rem;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loading-spinner {
	height: 2rem;
	width: 2rem;
	border-top: 0.5rem solid #4287f5;
	border-right: 0.5rem solid #eee;
	border-bottom: 0.5rem solid #eee;
	border-left: 0.5rem solid #eee;
	border-radius: 100%;
	animation: spin 0.65s cubic-bezier(.43, .19, .53, .93) infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
