.app {
  opacity: 1;
  min-height: 100vh;
}

.fade-in {
  animation: fade-in 1 ease-in-out 1s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 2.8rem 4rem 4rem 4rem;
}

.top-right-btns-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
