@media only screen and (max-width: 600px) {
	* {
		box-sizing: border-box;
	}
	.home.section {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
		border: 1px solid black;
		width: 100vw;
	}

	.splash-text > * > p {
		width: 80%;
		margin: 1rem auto;
	}
	.content-background-container {
		width: 100%;
	}
	.content-background-container > * {
		position: relative;
		top: 0;
		left: 0;
		transform: none;
		height: 100%;
		overflow: hidden;
	}
	.home.content {
		width: 100vw;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.home.section.why > .content-background-container {
		margin: 5rem 0;
	}

	.why-text > * {
		width: 75%;
	}
	.down-arrow {
		display: none;
	}
	.splash-image {
		width: 20rem;
		height: 10rem;
	}
	.keyboard-container > * {
		padding: 0 0.5rem;
	}
	.keyboard-key {
		box-shadow: none;
		background-color: transparent;
		pointer-events: none;
	}
	.blob {
		position: absolute;
	}
	.blob-three {
		transform: translate(-10%, -18%);
	}
	.how-grid > *:last-child {
		display: none;
	}
	.home.section.get-started {
		display: flex;
	}
	.home.section.get-started > .content-background-container {
		height: 100vh;
	}

	.footer {
		display: none;
	}
}
