.account-button-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 1rem;
	padding: 2rem;
}

.button-column {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

.button-column > * {
	margin: 0.6rem;
}

.display-settings-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	align-items: center;
	justify-content: center;
}

.icon-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: auto;
	padding: 3rem;
}
