.screenContainer {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.settingsBox {
	width: fit-content;
	height: fit-content;
	border: 1px solid black;
	display: flex;
	align-items: center;
	border-radius: 1rem;
	flex-direction: column;
	padding: 2rem;
}

.accountButtonGrid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 1rem;
	padding: 2rem;
}

.button-column {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}
.button-column > * {
	margin: 0.6rem;
}

.two-by-one-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	align-items: center;
	justify-content: center;
}

.header {
	padding: 1rem;
}

.settings-footer {
	width: 50%;
	padding: 2rem;
	display: flex;
	justify-content: space-around;
}
