.timeline-zoom > * {
	margin: 0.5rem;
}

.timeline-zoom-checkbox {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2rem;
	border-radius: 100%;
}

.timeline-zoom-label-style {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 2rem;
	text-align: left;
	width: auto;
}
