.top-page-text-title {
  margin: 0;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.top-page-text-title-btn {
  width: 26px;
  height: 26px;
  font-size: 22px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

#currency-input {
  width: 64px;
  height: 22px;
  font-size: 16px;
  margin: 0 5px;
}

.tick-button {
  width: 32px;
  height: 32px;
  position: relative;
  cursor: pointer;
}

.tick-button:before,
.tick-button:after {
  border-radius: 22%;
  background-color: #000;
  position: absolute;
  content: "";
}

.tick-button:before {
  transform: rotate(143deg);
  width: 2px;
  height: 9px;
  left: 34%;
  top: 46%;
}

.tick-button:after {
  width: 2px;
  height: 17px;
  left: 57%;
  top: 18%;
  transform: rotate(30deg);
}

.cross-button {
  margin: 0 5px;
  position: relative;
  color: #000;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.cross-button::before,
.cross-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 2px;
  background-color: #000;
  transform: translateX(-50%) translateY(-50%);
  transition: all 0.2s ease-in-out;
}

.cross-button::before {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.cross-button::after {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}