.top-panel-option {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  z-index: 5;
  padding: 0;
}

.top-panel-title {
  margin-top: 0;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}
